<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/TahiruYussif/Projects/OrangeHRM_Automation">
        <classes>
            <class name="tests.Login.LoginSuccessTest">
                <methods>
                    <include name="loginSuccessfully"/>
                </methods>
            </class>

            <class name="tests.Login.LoginUnsuccessfulTest">
                <methods>
                    <include name="loginUnsuccessful"/>
                </methods>
            </class>

            <class name="tests.Admin.UserManagement.UserManagementTest">
                <methods>
                    <include name="verifyUserManagementPage"/>
                    <include name="createUser"/>
                    <include name="verifyErrorMessageForMissingFields"/>
                </methods>
            </class>

            <class name="tests.Admin.Job.JobTitle.JobTitleTest">

            </class>

        </classes>
    </test>
</suite>